.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	position: relative!important;
} 
.container-inline {
	display: none;
}
div.action {
	clear: both;
	height: 40px;
	margin: 0 0 10px 0;
}
div.action span {
	height: 40px;
	margin: 0 10px 0 0;
	padding: 0 0 0 45px;
	float: left;
	display: block;
}
div.action .icon_sync0 {
	background: transparent url('../images/3_sync.gif') no-repeat center left;
	cursor: pointer;
}
div.action .icon_sync1 {
	background: transparent url('../images/3.gif') no-repeat center left;
}
div.action .icon_sync2 {
	background: transparent url('../images/3.gif') no-repeat center left;
}
div.action .icon_save {
	background: transparent url('../images/save.gif') no-repeat center left;
	cursor: pointer;
}
.form_save {
	background: transparent url('../images/save.gif') no-repeat center left;
	cursor: pointer;
	height: 40px;
	margin: 0 10px 0 0;
	padding: 0 0 0 45px;
	float: left;
	display: block;
}
ul.items {
	list-style: none;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto 20px auto;
}
ul.items li {
	list-style: none;
	display: block;
	float: left;
	width: 31%;
	height: 220px;
	margin: 0 5px 10px 0!Important;
	border: 1px solid #FFF;
	position: relative;
	text-align: center;
}
ul.items li div.thumb {
	margin: 0 auto;
	padding: 0;
	width: 100%; 	text-align: center;
	height: 100%;
	z-index: 2;
	position: relative;
}
ul.items li div.thumb span {
	display: inline-block;
	zoom: 1;
	display: -moz-inline-stack;
	width: 36px;
	height: 36px;
	cursor: pointer;
}
ul.items li div.thumb .icon_Putshowtime, 
ul.items li div.thumb .icon_AcquiPutshowtime {
	background: transparent url('../images/putST.png') no-repeat center center;
}
ul.items li div.thumb .icon_Removeshowtime, 
ul.items li div.thumb .icon_RemoveshowtimeInto, 
ul.items li div.thumb .icon_AcqRemoveshowtime {
	background: transparent url('../images/removeST.png') no-repeat center center;
}
ul.items li div.thumb .icon_view {
	background: transparent url('../images/view.png') no-repeat center center;
}
ul.items li div.thumb .icon_remove {
	background: transparent url('../images/remove.png') no-repeat center center;
	bottom: 0;
	right: 0;
	position: absolute;
}

ul.items li div.thumb .icon_viewVideo {
	background: transparent url('../images/viewThumb.png') no-repeat center center;
}
ul.items li div.thumb .icon_playlist {
	background: transparent url('../images/playlist.png') no-repeat center center;
	opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}

ul.items li div.thumb .icon_moveThumbs {
	background: transparent url('../images/arrow.png') no-repeat center center;
}
ul.items li div.thumb a,
ul.items li div.thumb img {
	margin: 0 auto!important;
	padding: 0;
	width: 200px; height:140px;
}
div.formVideo {
	text-align: left;
	top: 40px;
	background: #fff;
	display: none;
	position: absolute;
	left: 10px;
	padding: 5px;
}
div.formVideo div {
	cursor: pointer;
}
div.formVideo div.dis {
	color:#ccc; cursor:default;
}

.items .ui-selecting {
	border: 1px solid #FECA40;
}
.items .ui-selected {
	border: 1px solid #F39814;
	color: white;
}
div.icon {
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 36px;
}
div.loader {
	height: 36px;
	background: transparent url('../images/loader.gif') no-repeat center center;
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
div.headerBox {
	height: 36px;
	width: 100%;
	position: relative;
}
div.empty {
	clear: both;
	margin: 30px 0 30px 0;
}
.cc_set {
	cursor: pointer;
}
.cc_set images {
	border: 2px solid transparent;
}
.cc_set:hover images {
	border: 2px solid aqua;
}
.selected {
	background-color: aqua;
}


.viewThumbs {
	cursor: pointer; width:95%;
}
.viewThumbs:hover {
	background-color: aqua;
}
.createUrl {
  cursor:pointer;	
}
.removeUrl {
  cursor:pointer; display:none;
}
.passwordUrlLive{
	display:none;
}
.passwordUrlLive b.createPass{
	cursor:pointer;
}

ul.itemsInsert {
	list-style: none;
	display: block;
	height: 150px;
	width: 100%;
	margin: 0 auto 20px auto;
}
ul.itemsInsert li {
list-style: none;
display: block;
float: left;
margin: 0 5px 20px 10px!Important;
position: relative;
text-align: center;
font-size: 10px;
width: 150px; height:100%;

}
ul.itemsInsert li div.thumbPublic {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	z-index: 2;
	position: relative;
	float: left;
}
ul.itemsInsert li div.select {
	background-color: aqua;
}
ul.itemsInsert li div.thumbPublic .removeThumb {
	display: none;
}
ul.itemsInsert li div.select .removeThumb {
	display: block;
}
ul.itemsInsert li div.select .addThumb {
	display: none;
}
ul.itemsInsert li div.thumbPublic a, 
ul.itemsInsert li div.thumbPublic img {
   margin: 0 auto!important;
   padding: 0; 
   width: 150px; height:90px;

}
ul.itemsInsert li img {
	width: 100%;
	height: 60%;
}
div.empty {
	clear: both;
	margin: 30px 0 30px 0;
}


.icon_modTitlePlay {
	background: transparent url('../images/mod.png') no-repeat center center; width:20px; height:20px; display:block; float:right; cursor:pointer;
}
.icon_selectPlay {
	background: transparent url('../images/select.png') no-repeat center center; width:20px; height:20px;display:block; float:left; cursor:pointer;
}
.icon_createPlay {
	background: transparent url('../images/add.png') no-repeat center center; width:20px; height:20px;display:block; float:right; cursor:pointer;
}


