table.itemsPublic {
	list-style: none;
	display: block; padding: 0!important;
	height: 100%;
	width: 100%; border:0!important;
}
table.itemsPublic tr {
	list-style: none; with
	display: block; margin: 0;
	float: left; padding:5px;
	position: relative;
	text-align: center;
	font-size: 10px;
}
.sidebar table.itemsPublic tr {
	margin: 0;
}
.sidebar table.itemsPublic tr span {

}

table.itemsPublic    tr td{padding:0 0 10px 0; height: 10em;word-wrap:break-word; width: 110px;}
table.itemsPublic    tr span, 
table.itemsPublic  tr img {
	margin: 0 auto; height:100%;
	padding: 0; font-size:80%; cursor: pointer;
}

table.itemsPublic .icon_licence  {
	width:30px; height:30px; position:absolute;right:10px;
	 z-index: 10; zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
table.itemsPublic div.PAYPERVIEW  {
	background: transparent url("https://www.wim.tv/wimtv-webapp/images/licenseConditions/pay.png") no-repeat center center;
}
table.itemsPublic  div.CREATIVE_COMMONS{
	background: transparent url("https://www.wim.tv/wimtv-webapp/images/licenseConditions/cc.png") no-repeat center center;
}

table.itemsPublic  div.FREEOFCHARGE{
	background: transparent url("https://www.wim.tv/wimtv-webapp/images/licenseConditions/play.png") no-repeat center center;
}

#container_wrapper{margin:0 auto!important; text-align:center;}
.responsiveVideo object{margin:0 auto;}
.responsiveVideo video{margin:0 auto;}
.media-frame .media-iframe iframe{overflow:auto!important;}

.wrapperiframe   {width:100%;  height:100%; margin:0 auto;}
.h_iframe        {position:relative; padding-top: 100%;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}